{% extends "base.html" %}
  {% block bodycontent %}
<body>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">

  <script>
  $(function() {
    var availableTags = 
      {{foodlist|safe}};
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#what" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
  </script>

<h1> My Account </h1>

<b>Name:</b> {{name}} <br>
<b>Email:</b> {{email}} <br>
<b>Current food preferences:</b> {% for food in preferences %} {{ food }}, {% endfor %} <br>

<hr>

<h3> Please fill out this form if you'd like to update your food preferences. </h3>

<form class="pure-form pure-form-aligned" method="POST">
    <fieldset>

        <div class="pure-control-group">
            <label for="what">WHAT type of food do you prefer? </label>
            <input class="pure-input-2-3" id="what" type="text" placeholder="start typing, then select from dropdown" name="what">
        </div>

        <div class="pure-controls">

            <button type="submit" name="b" value="Change" class="pure-button pure-button-primary">Update</button>

        </div>
    </fieldset>
</form>

</body>
  {% endblock bodycontent %}
