{% extends "base.html" %}
  {% block bodycontent %}
<h1> Welcome </h1>
<form>
  <div class="form-group">
    <label for="friendList">List the friends you want to invite:</label>
    <input type="text" class="form-control" id="friendList" placeholder="Enter friends">
    <p class="help-block">Seperate names with a comma</p>
  </div>
  <div class="form-group">
    <label for="friendList">Enter your location:</label>
    <input type="text" class="form-control" id="friendList" placeholder="Enter friends">
    <p class="help-block">Seperate names with a comma</p>
  </div>
  <div class="form-group">
    <label for="friendList">List the friends you want to invite:</label>
    <input type="text" class="form-control" id="friendList" placeholder="Enter friends">
    <p class="help-block">Seperate names with a comma</p>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<script>
var x = document.getElementById("");
function getLocation() {
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(showPosition);
} else {
x.innerHTML = "Geolocation is not supported by this browser.";
}
}
function showPosition(position) {
var latlon = position.coords.latitude + "," + position.coords.longitude;
var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=14&size=400x300&sensor=false";
document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
}
getLocation();
</script>


</body>


  {% endblock bodycontent %}
