{% extends "base.html" %}
  {% block bodycontent %}
<h1> Create a Chill </h1>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">

<script>
  $(function() {
    var availableTags = 
    {% if friends==[] %}
    [
      "Justin Strauss",
      "Lev Akabas",
      "Dennis Nenov"
    ];
    {% else %}
      {{friends}};
    {% endif %}
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#who" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
  </script>

  <script>
  $(function() {
    $( "#date" ).datepicker();
  });
  </script>

<form class="pure-form pure-form-aligned" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <label for="who">WHO do you want to invite? </label>
            <input id="who" type="text" placeholder="select from Facebook friends" name="who">
        </div>

        <div class="pure-control-group">
            <label for="what">WHAT type of food do you prefer? </label>
            <input id="what" type="text" placeholder="default set to preferences, type in other food if desired" name="what">
        </div>

        <div class="pure-control-group">
            <label for="where">WHERE do you want to meet? </label>
            <input id="password" type="text" placeholder="default set to current location, type in other location if desired" name="where">
        </div>

    <div class="pure-control-group">
            <label for="when">WHEN do you want to meet? </label>
            <input id="date" type="text" placeholder="select a date" name="date">
            <input id="thetime" type="text" placeholder="select a time" name="thetime">
        </div>

        <div class="pure-controls">
            <button type="submit" name="b" value="Register" class="pure-button pure-button-primary">Register</button>
        <button type="submit" name="b" value="Clear" class="pure-button pure-button-secondary">Clear</button>
        </div>
    </fieldset>
</form>

  <script>
  $(function() {
    $( "#thetime" ).timepicker({ 'scrollDefault': 'now' });
  });
  </script>

<form method="POST">

  <div class="form-group">
    <label for="friendList">List the friends you want to invite:</label>
    <input type="text" class="form-control" id="friendList" placeholder="Enter friends">
    <p class="help-block">Seperate names with a comma</p>
  </div>

  <div class="form-group">
    <label for="locationEntry">Enter your location:</label>
    <input type="text" name="locationEntry" class="form-control" id="locationEntry" placeholder="Enter location">
  </div>

  <div class="form-group">
    <label for="activityEntry">What do you want to do:</label>
    <input type="text" name="activityEntry" class="form-control" id="activityEntry" placeholder="Enter activity">
  </div>

  <div class="form-group">
    <label for="activityEntry">When do you want to do this:</label>
    <input type="text" class="form-control" id="dateEntry" placeholder="Enter date">
  </div>

  <label>How will you get there:</label>
  <BR>
  <div class="btn-group" role="group" aria-label="...">
    <button type="submit" id="walkButton" class="btn btn-default">Walk</button>
    <button type="submit" id="carButton" class="btn btn-default">Car</button>
    <button type="submit" id="transportButton" class="btn btn-default">Public Transportation</button>
  </div>
  
</form>

<script>
var x = document.getElementById("locationEntry");
function getLocation() {
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(showPosition);
} else {
x.value = "Enter your location manually.";
}
}
function showPosition(position) {
var latlon = position.coords.latitude + "," + position.coords.longitude;
x.value = latlon;
}
getLocation();
</script>

  {% endblock bodycontent %}
