{% extends "base.html" %}
  {% block bodycontent %}
<body>

<h2> Who: </h2>

Please select the Facebook friends you want to invite to your chill:

<h2> What: </h2>

What do you want to do during your chill?

<h2> Where: </h2>

[insert Yelp API stuff here]


<div id="demo">
</div>
<div id="mapholder">
</div>
<script>
var x = document.getElementById("demo");
function getLocation() {
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(showPosition);
} else {
x.innerHTML = "Geolocation is not supported by this browser.";
}
}
function showPosition(position) {
var latlon = position.coords.latitude + "," + position.coords.longitude;
var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=14&size=400x300&sensor=false";
document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
}
getLocation();
</script>

<h2> When: </h2>

[insert datepicker here]

<h2> How: </h2>

How do you want to get to your chill? (Public transportation, walking, driving, cycling, Uber, Citibike)

</body>




  {% endblock bodycontent %}
